@font-face {
    font-family: 'icomoon';
    src:  url('./fonts/icomoon.eot?47vxd2');
    src:  url('./fonts/icomoon.eot?47vxd2#iefix') format('embedded-opentype'),
      url('./fonts/icomoon.ttf?47vxd2') format('truetype'),
      url('./fonts/icomoon.woff?47vxd2') format('woff'),
      url('./fonts/icomoon.svg?47vxd2#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-bank:before {
    content: "\e900";
  }
  .icon-reception:before {
    content: "\e901";
  }
  .icon-corporate:before {
    content: "\e902";
  }
  .icon-hotel:before {
    content: "\e903";
  }
  .icon-residence:before {
    content: "\e904";
  }
  .icon-government:before {
    content: "\e905";
  }
  .icon-school:before {
    content: "\e906";
  }
  .icon-industry:before {
    content: "\e907";
  }
  .icon-work-desk:before {
    content: "\e908";
  }
  .icon-digital-dashboard:before {
    content: "\e909";
  }
  .icon-target:before {
    content: "\e90a";
  }
  .icon-visitor-setting:before {
    content: "\e90b";
  }
  .icon-delivery:before {
    content: "\e90c";
  }
  .icon-watchlist:before {
    content: "\e90d";
  }
  .icon-safety:before {
    content: "\e90e";
  }
  .icon-users:before {
    content: "\e90f";
  }
  .icon-like-dislike:before {
    content: "\e910";
  }
  .icon-dashboard:before {
    content: "\e911";
  }
  .icon-realtime:before {
    content: "\e912";
  }
  .icon-export:before {
    content: "\e913";
  }
  .icon-person:before {
    content: "\e914";
  }
  .icon-person-laptop:before {
    content: "\e915";
  }
  .icon-qrcode:before {
    content: "\e916";
  }
  .icon-person-idcard:before {
    content: "\e917";
  }
  .icon-facecapture:before {
    content: "\e918";
  }
  .icon-printer:before {
    content: "\e919";
  }
  .icon-touch:before {
    content: "\e91a";
  }
  .icon-verified:before {
    content: "\e91b";
  }
  .icon-search:before {
    content: "\e91c";
  }
  .icon-sign:before {
    content: "\e91d";
  }
  .icon-notification:before {
    content: "\e91e";
  }
  .icon-gate:before {
    content: "\e91f";
  }
  .icon-reception-2:before {
    content: "\e920";
  }
  .icon-reports:before {
    content: "\e921";
  }
  .icon-data-export:before {
    content: "\e922";
  }
  .icon-locations:before {
    content: "\e923";
  }
  .icon-search-2:before {
    content: "\e924";
  }
  .icon-fields:before {
    content: "\e925";
  }
  .icon-employees:before {
    content: "\e926";
  }
  .icon-chat-setting:before {
    content: "\e927";
  }
  .icon-logout:before {
    content: "\e928";
  }
  .icon-ipad:before {
    content: "\e929";
  }
  .icon-book:before {
    content: "\e92a";
  }
  .icon-cost:before {
    content: "\e92b";
  }
  .icon-invite:before {
    content: "\e92c";
  }
  .icon-cost-2:before {
    content: "\e92d";
  }
  